.paginator {
  display: flex;
  font: clamp(1rem, 5vmin, 1.2rem) monospace;
  gap: clamp(1px, 0.5em, 1vw);
  max-width: 100%;

  &_button {
    $button: &;
    padding: 0.4em;

    &_current {
      @extend #{$button};
      background-color: dodgerblue;
      color: whitesmoke;
      cursor: default;
    }
  }
}
