@import '../../../shared/ui/style/variables.scss';

.paginator {
  display: flex;
  font: min(5vmin, 1.2rem)monospace;
  gap: min(0.5em, 1vw);
  max-width: 100%;

  &_button {
    $button: &;
    padding: min(0.4em, 10vw);

    &_current {
      @extend #{$button};
      background-color: dodgerblue;
      color: $bg-color-dark;
      cursor: default;
    }
  }
}
