.paginator {
  display: flex;
  font: clamp(1rem, 5vmin, 1.2rem) monospace;
  gap: clamp(1px, 0.5em, 1vw);
  max-width: 100%;

  &Button {
    $button: &;
    padding: 0.4em;
    will-change: color, background-color, box-shadow;
  }
}
