:root {
  --theme-l1: #212121;
  --theme-l2: #141414;
  
  --theme-t1: rgba(255, 255, 255, 0.87);
  --theme-err: rgb(255, 180, 180);
}

.light {
  //layers
  --theme-l1: whitesmoke;
  --theme-l2: rgb(205, 205, 205);

  //text
  --theme-t1: rgba(42, 42, 42, 0.87);
  --theme-err: red;
}
