$padding-v: 2rem;

.footer {
  z-index: -10;
  padding-top: $padding-v;
  padding-bottom: $padding-v;
}

.nav {
  &List {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
  }

  &Item {
    font-size: 1.5rem;
    color: var(--theme-t);
  }
}

.avatar {
  display: flex;
  position: relative;
  gap: 0.5em;

  &::after {
    filter: var(--theme-logo-filter);
    background-image: url('@shared/assets/images/Logo Transparent 128.png');
  }

  &::before {
    position: absolute;
    right: 0;
    z-index: 1;
    opacity: 0;
    background-image: url('@shared/assets/images/Logo Quad 128 ICO.jpg');
    box-shadow: var(--theme-logo-glow);
  }

  &::after,
  &::before {
    display: inline-block;
    content: '';
    aspect-ratio: 1;
    border-radius: 100%;
    width: 1.5em;
    background-repeat: no-repeat;
    background-size: contain;
    transition-property: opacity;
    transition-duration: 0.4s;
  }

  &:hover {
    color: var(--logo-color);
    &::before {
      opacity: 1;
    }
  }
}
