.search {
  &Results {
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: flex-end;
    justify-content: center;
    max-width: 100%;
    gap: 1rem;
  }
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  flex: min-content;
  gap: 1rem;
}

.paginatorWrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
