@import '@shared/style/vars.scss';

* {
  box-sizing: border-box;
  transition: all ease 0.1s;
  color: inherit;
}

.app {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--theme-t1);
  background-color: var(--theme-l1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem min(2rem, 2vw);
  text-align: center;
}

.error_button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--theme-l2);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    border-color: #646cff;
  }

  &:active {
    transform: scale(0.9);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
