// @use '@shared/style/vars.scss' as *;

.header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.nav {
  &List {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 0.2em;
    & a {
      border-radius: 0.5em;
      padding: 0.5em;

      &:hover {
        background-color: var(--theme-l2);
        box-shadow: var(--theme-shadow-s);
      }
    }
  }
}
