.card {
  display: flex;
  flex-direction: column;
  background: #1c1c1c;
  border-radius: 2rem;
  padding: 1rem;
  width: fit-content;
  cursor: pointer;

  &_line {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  &_image {
    object-fit: contain;
    height: 20rem;
  }

  &_wrapper {
    overflow: hidden;
    border-radius: 1rem;
  }
}
