@import '@style/vars.scss';

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background: $bg-color-dark;
  border-radius: 2rem;
  padding: 1rem;
  max-width: fit-content;
  width: 100%;

  transition-duration: 0.1s;
  -webkit-tap-highlight-color: transparent;

  &_line {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  &_image {
    object-fit: contain;
    height: 20rem;
  }

  &_wrapper {
    overflow: hidden;
    border-radius: 1rem;
  }

  &:active {
    transform: scale(0.95);
  }
}
