.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background: var(--theme-l2);
  border-radius: 2rem;
  padding: 1rem;
  max-width: fit-content;
  width: 16rem;

  transition-duration: 0.1s;
  -webkit-tap-highlight-color: transparent;

  &_line {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  &_image {
    object-fit: contain;
    border-radius: 1rem;
  }

  &_wrapper {
    overflow: hidden;
    border-radius: 1rem;
  }

  &Title{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  &:active {
    transform: scale(0.95);
  }
}
