.card {
  background-color: #333;
  padding: 1rem;
  border-radius: 2rem;
  width: fit-content;
  max-width: 100%;

  &__title {
    margin: 0.5rem 0;
  }

  &__details {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
  }

  &__image {
    border-radius: 1rem;
    width: 100%;
    max-width: 15rem;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}
